<div class="step row">
  <div class="col-md-12">
  <h3><%= t('.additional_message') %></h3>
    <p><%= t('.additional_message_detail') %></p>
    <div class="form-group <%= has_error_class @apply, :message %>">
      <%= f.input_field :message, rows: 5, class: 'form-control', placeholder: Apply.human_attribute_name(:message), style: 'height:150px;' %>
      <%= help_block @apply, :message %>
    </div>
  </div>
      </div><!-- end step -->