<div class="step row">
  <div class="col-md-6">
    <h3>選擇課程單元</h3>
    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
    <ul id="stages" class="data-list-2 clearfix">
      <li><%= f.radio_button :stage_id, '', class: 'check_radio', data: {title: '', description: ''} %><label>只是感興趣，不確定想參加哪堂課</label></li>
      <% @course.stages.each do |stage| %>
      <li><%= f.radio_button :stage_id, stage.id, class: 'check_radio', data: {title: stage.title, description: stage.description} %><label> <%= stage.title %></label></li>
      <% end %>
    </ul>  
  </div>
  <div class="col-md-6">
    <h3 id="stage_title"></h3>
    <p id="stage_description"></p>
    <ul id="schedules" class="data-list-2 clearfix">
      <% @course.schedules.includes(:stage).available.each do |schedule| %>
      <%= content_tag :li, class: "stage_#{schedule.stage.id}" do %>
      <%= f.radio_button :schedule_id, schedule.id, class: 'check_radio' %><label> <%= schedule.date %></label>
      <% end %>
      <% end %>
    </ul>
  </div>
</div><!-- end step -->
<% content_for :append_body do %>
<script>
  (function() {
    function update_schedules() {
      var the_checked = $('#stages input:checked')
      var stage_id = $('#stages input:checked').val()
      $('#stage_title').text(the_checked.data('title'));
      $('#stage_description').text(the_checked.data('description'));
      var stage_class = '.stage_' + stage_id;
      $(stage_class).show();
      $('#schedules li').not(stage_class).hide();
      if(stage_id.length == 0) $('#schedules input').iCheck('uncheck');
    }
    $('#stages input:radio').on('ifChecked', update_schedules);
    $(update_schedules);
  }).call()
</script>
<% end %>