<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form do |f| %>
  <%= f.error_notification class: 'alert alert-danger' %>

  <%= f.input :omniauth_key, as: :hidden %>
  <%= f.input :name, autofocus: true, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :phone, required: true %>

  <% if resource.password_required? %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  <% elsif resource.persisted? %>
    <%= f.input :password, autocomplete: "off", hint: t('.password_blank_is_ok'), required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%#= f.input :current_password, hint: t('.current_password_required'), required: true %>
  <% end %>

  <div class="form-group">
    <%= f.button :submit, t('.sign_up'), class: 'btn btn-block btn-login both-spacing' %>
  </div>

<% end %>
