<div class="top-banner camp-junior-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
				<%=gen_course_breadcrumb%>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white top-spacing bottom-spacing">
        <h1 class="top-padding-lg"><%= t('site.camp_junior_main_banner.title') %></h1>
        <p class="line-height-lg top-spacing-sm"><%= raw t('site.camp_junior_main_banner.subtitle') %></p>
        <%= render partial: 'camps/shared/count_down', locals: { configs: configs } %>
      </div>
    </div>
  </div>
</div>

