<div class="top-banner camp-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <small class="breadcrumb"><%= link_to t('breadcrumb.home'), root_path %> > <%= t('breadcrumb.camp_senior') %></small>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white top-spacing bottom-spacing">
        <h1 class="top-padding-lg"><%= t('site.camp_main_banner.title') %></h1>
        <p class="line-height-lg top-spacing-sm"><%= raw t('site.camp_main_banner.subtitle') %></p>
        <%= render partial: 'camps/count_down', locals: { configs: configs } %>
      </div>
    </div>
  </div>
</div>

