<h1>Camp#Index</h1>

<% template = @camp.payload %>
<%= render partial: "camps/main_banner" %>
<%= render partial: "camps/count_down", locals: { configs: template['top_count_down'] } %>
<%= render partial: "camps/features" %>
<%= render partial: "camps/course", locals: { configs: template['btn_states'] } %>
<%= render partial: "camps/sales", locals: { configs: template['sales'] } %>
<%= render partial: "camps/feedback" %>
<%= render partial: "camps/qnas", locals: { configs: template['qnas'] } %>
<%= render partial: "camps/registration" %>
<%= render partial: "camps/notice", locals: { configs: template['notice'] } %>
<%= render partial: 'camps/count_down', locals: { configs: template['top_count_down'] } %>
