<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for current_object, :id, :title %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to t('crud.edit'), {action: :edit}, {class: 'btn btn-info btn-lg'} %>
  <%= link_to t('action.back'), {action: :index}, {class: 'btn btn-default btn-lg'} %>
  <%= link_to t('crud.destroy'), {action: :destroy},
    {method: :delete, data: { confirm: t("message.are_you_sure") }, class: 'btn btn-danger btn-lg'} %>
</div>

<hr>

<h2><%= t('crud.preview') %>&emsp;<%= link_to t('crud.preview_full'), admin_camp_template_preview_path(current_object), class: 'btn btn-success', target: :_blank %></h2>
<iframe src="<%= admin_camp_template_preview_path(current_object) %>" style="width: 100%; height: 80vh;">
