<%= form_tag sort_admin_faqs_path, method: :put do |f| %>
<h1><%= Admin::Faq.model_name.human %> <%= link_to t('crud.new'), new_admin_faq_path, class: 'btn btn-lg btn-success' %> <%= submit_tag '更新排序', class: 'btn btn-lg btn-primary' %></h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th></th>
      <%= th_for Admin::Faq, :id, :question, :answer, :is_online %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody  class="sortable" data-items=".admin_faq">
    <% @admin_faqs.each do |admin_faq| %>
      <%= content_tag_for :tr, admin_faq do %>
        <%= hidden_field_tag "sort[#{admin_faq.id}][sort_id]", admin_faq.sort_id %>
        <td><i class="glyphicon glyphicon-move"></i></td>
        <%= td_for admin_faq, :id, :question, :answer, :is_online %>
        <%= td_action_for admin_faq %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>