<div class="training-intro light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <% @talk.speakers.each do |s| %>
        <div class="col-sm-6 col-lg-6 col-md-6 top-spacing-lg">
          <div class="col-sm-4 col-lg-4 col-md-4">
            <%= image_tag s.avatar.thumb, class: "avatar img-circle right-spacing" %>
          </div>
          <div class="col-sm-8 col-lg-8 col-md-8">
            <h3 class="bottom-spacing-sm"><%= t('.lecturer') %></h3>
            <strong><%= tr s, :name %></strong>
            <br>
            <%= tr_and_convert_newline2br s, :summary %>
          </div>
        </div>
      <% end %>
      <div id="will-learn" class="col-sm-<%= rwd_column = (@talk.speakers.size.odd? ? '6' : '12') %> col-lg-<%= rwd_column %> col-md-<%= rwd_column %> top-spacing-lg line-height-lg">
        <% if @talk.suitable_for.present? %>
          <h3 class="bottom-spacing-sm"><%= t('.suitable_for') %></h3>
          <div class="bottom-spacing">
            <%= raw @talk.suitable_for %>
          </div>
          <br>
        <% end %>
        <% if @talk.what_will_learn.present? %>
          <h3 class="bottom-spacing-sm"><%= t('.what_you_will_learn') %></h3>
          <div class="bottom-spacing">
            <%= raw tr(@talk.course, :what_will_learn) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
