
<div class="col-sm-4 col-lg-4 col-md-4 bottom-spacing">
  <%= link_to talk_path(id: talk.permalink) do %>
    <div class="lecture-wrap">
      <%= image_tag talk.course.image.thumb, class: 'cover' %>
      <h4 class="rl-padding"><%= tr talk, :title %></h4>
      <div class="rl-padding bottom-padding">
        <% if talk.course.outdated? %>
          <span class="small"><%= t('.outdated') %></span>
        <% elsif talk.course.about_to_begin? %>
          <span class="yellow-tag small"><%= t('.about_to_begin') %></span>
        <% else %>
          <span class="orange-tag small"><%= t('.opening') %></span>
        <% end %>
        <%#<span class="orange-tag small">剩<span class="text-brown">2</span>名額</span>%>
        <span class="date text-grey small"><%= talk.course.start_on %></span>
        <p class="descri both-spacing-sm">
          <%= tr talk.course, :summary %>
        </p>
        <span class="text-grey small"><%= t('.speaker_label') %> <%= speakers_name talk.course %>  | <%= t('.hours_label') %> <%= talk.course.hours %></span>
      </div>
    </div>
  <% end %>
</div>

