<%- content_for :title, t('breadcrumb.talks') %>

<!-- Start Main Banner -->
<div class="top-banner talks-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <%= gen_course_breadcrumb%>
        <h1 class="title top-padding-lg"><%= t('site.talks_main_banner.title') %></h1>
        <p class="line-height"><%= t('site.talks_main_banner.subtitle') %></p>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Lecture Category -->
<div class="lecture-category">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <ul class="nav nav-pills both-spacing">
          <li class="<%= 'active' unless @category %>"><%= link_to t('.all_talks'), talks_path %></li>
          <% @categories.each do |category| %>
            <li class="<%= 'active' if @category == category %>">
              <%= link_to talks_path(category: category.permalink) do %>
                <%= "#{category.name} (#{category.courses_count })" %> <%= image_tag '/img/new.png', alt: 'New' if category.new_course? %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Category -->

<!-- Start Lectures -->
<div class="lectures-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <div class="lecture-list">
          <%= render partial: "talk", collection: @talks, as: :talk  %>
          <div class="clear"></div>
          <nav class="text-center">
            <%= paginate @talks %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Lectures -->

<%= render partial: "shared/speakers", locals: { speakers: @speakers } %>
