
<!-- Start Breadcrumbs -->
<div class="bread-crumbs-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to t('breadcrumb.home'), root_path %></li>
          <li><%= link_to t('breadcrumb.talks'), talks_path %></li>
          <li class="active"><%= tr @talk, :title %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Lecture Info -->
<div class="training-intro bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-5 col-md-7">
        <%= image_tag @talk.image.thumb %>
      </div>
      <div class="col-sm-6 col-lg-7 col-md-5 line-height-lg">
        <small class="text-grey"><%= @talk.category.name %></small>
        <h1><small class="text-black"><%= tr @talk, :title %></small></h1>
        <span class="medium"><%= date_range @talk %></span>
        <br><small class="text-grey"><%= "#{speakers_name @talk} | #{t('.hours_label')}#{@talk.hours}" %></small>
        <p>
          <%= tr @talk.course, :summary %>
        </p>
        <% if @talk.outdated? %>
          <p class="btn btn-block btn-red disabled"><%= t('.outdated') %></p>
        <% else %>
          <a href="#tickets" class="btn btn-block btn-red"><%= t('.opening') %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Info -->

<!-- Start Lecture Details -->
<div class="training-intro light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <% @talk.speakers.each do |s| %>
        <div class="col-sm-6 col-lg-6 col-md-6 top-spacing-lg">
          <div class="col-sm-4 col-lg-4 col-md-4">
            <%= image_tag s.avatar.thumb, class: "avatar img-circle right-spacing" %>
          </div>
          <div class="col-sm-8 col-lg-8 col-md-8">
            <h3 class="bottom-spacing-sm"><%= t('.lecturer') %></h3>
            <strong><%= tr s, :name %></strong>
            <br>
            <%= tr_and_convert_newline2br s, :summary %>
          </div>
        </div>
      <% end %>
      <div id="will-learn" class="col-sm-<%= rwd_column = (@talk.speakers.size.odd? ? '6' : '12') %> col-lg-<%= rwd_column %> col-md-<%= rwd_column %> top-spacing-lg line-height-lg">
        <% if @talk.suitable_for.present? %>
          <h3 class="bottom-spacing-sm"><%= t('.suitable_for') %></h3>
          <div class="bottom-spacing">
            <%= raw @talk.suitable_for %>
          </div>
          <br>
        <% end %>
        <% if @talk.what_will_learn.present? %>
          <h3 class="bottom-spacing-sm"><%= t('.what_you_will_learn') %></h3>
          <div class="bottom-spacing">
            <%= raw tr(@talk.course, :what_will_learn) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Details -->

<!-- Start Lecture Outline -->
<div class="lecture-outline-wrap feedback-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="text-center top-spacing-lg bottom-spacing-sm"><span><%= t('.outline') %></span></h3>
        <div class="col-sm-8 col-lg-8 col-md-8 center-block border-grey bottom-spacing-lg">
          <% @talk.stages.includes(:translations).each_with_index do |stage, index| %>
            <div class="four-spacing">
              <h4><%= t('.chapter_title', nth: index) %> <%= tr stage, :title %></h4>
              <%= raw tr(stage, :description) %>
              <ul class="date-time bottom-spacing-lg">
                <li><i class="fa fa-calendar text-grey" aria-hidden="true"></i> <%= stage.date %></li>
                <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= time_range stage %></li>
                <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= show_hours stage.hours %>h</li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Outline -->

<div id="tickets"></div>

<!-- Start Tickets -->
<% if @talk.iframe_html.present? || @talk.apply_link.present? %>
  <div class="tickets light-grey-bg bottom-padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 center-block">
          <h3 class="top-spacing-lg left-spacing-sm"><span>&emsp;</span></h3>
          <% if @talk.iframe_html.blank? && @talk.apply_link.present? %>
            <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing text-center">
              <%= link_to t('.apply_now'), @talk.apply_link, target: :_blank %>
            </div>
          <% else %>
            <%= raw @talk.iframe_html %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End Tickets -->

<!-- Start Lecture Notice -->
<div class="training-intro bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <h3 class="top-spacing-lg bottom-spacing-sm"><%= t('.payment_note') %></h3>
        <div class="rl-padding-lg line-height-lg">
          <%= raw @talk.payment_note %>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <h3 class="top-spacing-lg bottom-spacing-sm"><%= t('.note') %></h3>
        <div class="rl-padding-lg line-height-lg">
          <%= raw tr(@talk, :note) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Notice -->

