<div class="container">
  <div class="both-spacing bottom-padding-lg">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <h2 class="both-spacing"><%= t('.title') %></h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: "#{t('.placeholder.email')}" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "#{t('.send_reset_mail')}", class: "btn btn-default btn btn-block btn-login both-spacing" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
