<%= sub_header title: t('.title') %>

<section id="main_content" >
  <div class="container">
    <%= breadcrumb t('.title') %>
    <div class="row">
      <% @videos.each do |video| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(video.image.thumb, alt: tr(video, :title)), video %>
          <div class="caption">
            <h3><%= link_to tr(video, :title), video %></h3>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= paginate @videos %>
      </div>
    </div>
  </div>
</section>