<section id="main_content">
  <div class="container">
    <%= breadcrumb link_to(t('videos.index.title'), Video), tr(@video, :title) %>
    <div class="row">
      <div class="col-md-8">
        <%= raw @video.iframe %>
        <h3><%= tr(@video, :title) %></h3>
        <%= raw tr(@video, :description) %>
        <hr>
        <div class="clearfix text-center">
          <%= link_to icon_tag('left-open'), @next, class: 'pull-left button_medium_outline' if @next %>
          <%= link_to t('.share'), "http://www.facebook.com/sharer/sharer.php?u=#{u(video_url(@video))}", class: 'button_medium_outline', target: :_blank %>
          <%= link_to icon_tag('right-open'), @previous, class: 'pull-right button_medium_outline' if @previous %>
        </div>
        <%= render 'shared/disqus' %>
      </div>

      <aside class="col-md-4">
        <div class="box_style_1">
          <h4><%= Speaker.model_name.human %></h4>
          <%= render partial: 'speakers/side', collection: @video.speakers, as: :speaker %>
        </div>
      </aside> <!-- End col-md-4 -->
    </div><!-- End row -->
  </div><!-- End container -->
</section>
