<%= simple_form_for(@admin_speaker, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :avatar %>
    <%= f.input :remove_avatar, as: :boolean %>
    <%= f.input :name %>
    <%= f.input :summary %>
    <%= f.input :is_online %>
    <%= f.input :role, include_blank: false %>
    <%= f.input :title %>
    <%= f.input :facebook_url %>
    <%= f.input :twitter_url %>
    <%= f.input :google_url %>
    <%= f.input :blog_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
