<h1><%= Admin::Speaker.model_name.human %> <%= link_to t('crud.new'), new_admin_speaker_path, class: 'btn btn-lg btn-success' %></h1>

<%= paginate @admin_speakers %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <%= th_for Admin::Speaker, :id, :avatar, :name, :summary, :is_online %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_speakers.each do |admin_speaker| %>
      <tr>
        <%= td_for admin_speaker, :id, :avatar, :name, :summary, :is_online %>
        <%= td_action_for admin_speaker %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_speakers %>