<!-- Start Long Description -->
<div class="long-description light-grey-bg both-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-4 top-spacing-lg bottom-spacing-lg white-bg grey-border">
        <h3 class="text-center top-spacing title"><span><%= t('camps.course.for_whom') %></span></h3>
        <div class="rl-padding-lg text-center line-height-lg bottom-spacing">
          <% t('site.camp_girl.for_whom_list').each do |f| %>
            <p><%= f[:list] %></p>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-lg-8 col-md-8 top-spacing-lg bottom-spacing-lg rl-padding-lg">
        <h3 class="text-center title"><span><%= t('camps.course.purpose') %></span></h3>
        <p>
          <%= t('site.camp_girl.purpose_text').html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Long Description -->

<!-- Start Speaker -->
<div class="speaker bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2 col-md-2 both-spacing-lg text-center">
        <%= image_tag 'camp-girl-teacher-cat.png', class: 'img-circle' %>
      </div>
      <div class="col-sm-8 col-lg-10 col-md-10 both-spacing-lg">
        <span class="text-grey"><%= t('talks.details.lecturer') %></span>
        <h3><%= t('site.camp_girl.teacher.name') %></h3>
        <p class="both-spacing-sm small">
          <%= t('site.camp_girl.teacher.experience').html_safe %>
        </p>
        <% t('site.camp_girl.teacher.intro').each do |f| %>
          <p><%= f[:text] %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-2 col-md-2 bottom-spacing-lg text-center">
        <%= image_tag 'camp-girl-teacher-ringo.jpg', class: 'img-circle' %>
      </div>
      <div class="col-sm-8 col-lg-10 col-md-10 bottom-spacing-lg">
        <span class="text-grey"><%= t('talks.details.sub_lecturer') %></span>
        <h3><%= t('site.camp_girl.sub_teacher.name') %></h3>
        <p class="both-spacing-sm small">
          <%= t('site.camp_girl.sub_teacher.experience').html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Speaker -->

