<section id="main-features">
  <div class="divider_top_black"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-10 col-md-offset-1 text-center">
        <h2><%= t('.5xruby') %></h2>
      </div>
    </div>
    <% t('.items').each_slice(2) do |pair| %>
      <div class="row">
      <% pair.each do |item| %>
      <div class="col-md-6">
        <%= link_to item[:url] do %>
        <div class="feature">
          <i class="<%= item[:icon] %>"></i>
          <h3><%= item[:title] %></h3>
          <p><%= item[:description] %></p>
        </div>
        <% end %>
      </div>
      <% end %>
      </div>
    <% end %>
    <!-- End row -->
  </div>
  <!-- End container-->
</section>
