<section id="main-features">
  <div class="divider_top_black"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-10 col-md-offset-1 text-center">
        <h2><%= t('.5xruby') %></h2>
        <p class="lead"><%= t('.lead') %></p>
      </div>
    </div>
    <div class="row">
      <% t('.items').each do |item| %>
        <div class="col-md-6">
          <div class="feature">
            <i class="<%= item['icon'] %>"></i>
            <h3><%= item['title'] %></h3>
            <p><%= item['description'] %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- End row -->
  </div>
  <!-- End container-->
</section>