<% stage = next_schedule.stage; course = stage.course %>
<div class="media">
  <div class="circ-wrapper red pull-left">
    <h3><%= l next_schedule.date, format: '%B' %><br><%= next_schedule.date.day %></h3>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to course.title, course %> <span class="label label-warning">NEW</span></h4>
    <%= sanitize course.summary %>
    <ul class="data-lessons">
      <li class="po-markup">
        <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i><%= Stage.human_attribute_name(:duration) %>： <%= '%.1f' % stage.duration %></a>
        <div class="po-content hidden">
          <div class="po-title"><strong>Duration: 6 hours</strong></div>
          <!-- ./po-title -->
          <div class="po-body">
            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
          </div>
          <!-- ./po-body -->
        </div>
        <!-- ./po-content -->
      </li>
      <%#li class="po-markup">
        <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
        <div class="po-content hidden">
          <div class="po-title"><strong>Video files</strong></div>
          <!-- ./po-title -->
          <div class="po-body">
            <ul class="list_po_body">
              <li><i class="icon-ok"></i> 2 Video lessons</li>
              <li> <i class="icon-ok"></i>1 Video for practice</li>
              <li> <i class="icon-ok"></i>1 Video Quiz</li>
            </ul>
          </div>
          <!-- ./po-body -->
        </div>
        <!-- ./po-content -->
      </li>
      <li class="po-markup">
        <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio files</a>
        <div class="po-content hidden">
          <div class="po-title"><strong>Audio files</strong></div>
          <!-- ./po-title -->
          <div class="po-body">
            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
          </div>
          <!-- ./po-body -->
        </div>
        <!-- ./po-content -->
      </li%>
    </ul>
  </div>
</div>