
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag t('site.about_main_banner.folder'), t('site.about_main_banner.sizes'), width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start About Us -->
<div class="about-us light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block top-spacing-lg">
        <div class="ceo col-sm-4 col-lg-4 col-md-4 pull-right white-bg left-spacing bottom-spacing-sm top-padding bottom-padding text-center">
          <%= image_tag t('ceo.avatar') %>
          <p class="top-spacing-sm">
            <span class="medium"><%= t('ceo.name') %></span> <small class="text-grey"><%= t('ceo.title') %></small>
            <br><%= t('ceo.about') %>
          </p>
        </div>
        <%= raw RDiscount.new(t('ceo.description')).to_html %>
      </div>
    </div>
  </div>
</div>
<!-- End About Us -->

<!-- Start Service Section -->
<div class="service-section bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-lg-9 col-md-9 center-block">
        <h3 class="text-center both-spacing-lg"><span><%= t('.our_services') %></span></h3>
        <% t('site.about_services').each do |s| %>
          <div class="cover bottom-spacing col-sm-3 col-lg-3 col-md-3">
            <%= image_tag public_path("/img/about_services/#{s[:img]}") %>
          </div>
          <div class="text col-sm-9 col-lg-9 col-md-9 line-height-lg bottom-spacing">
            <h3 class="top-spacing-sm bottom-spacing-sm"><%= s[:name] %></h3>
            <%= raw s[:content] %>
          </div>
          <div class="clear"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Service Section -->

