<div id="about-header"><%= sub_header %></div>

<section id="main_content">

  <div class="container">
   <div class="row">

    <div class="col-md-7">
      <%= raw RDiscount.new(t('.description')).to_html %>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <div class="thumbnail">
            <div class="project-item-image-container">
              <!-- <img src="img/team_1.jpg" alt=""/> -->
              <%= image_tag 'eddiekao2.jpg' %>
            </div>
            <div class="caption">
              <div class="transit-to-top">
                <h4 class="p-title"><%= t('.ceo') %> <small><%= t('.ceo_title') %></small></h4>
                <div class="widget_nav_menu">
                  <ul class="social_team">
                    <li><a href="https://www.facebook.com/eddiekao" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://twitter.com/eddiekao" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/102669323697108172752/about" target="_blank"><i class="icon-google"></i></a></li>
                  </ul>
                  「希望有天可以寫程式來改變世界!」
                </div><!-- transition top -->
              </div><!-- caption -->
            </div>
          </div><!-- End col-md-12-->
        </div><!-- End thumbnail -->

      </div>
    </div>
  </div><!-- End row -->

  <hr>

  <div class="row">
    <% t('.members').each do |member| %>
    <div class="col-md-4 col-sm-6">
      <div class=" box_style_3">
        <p><img src="<%= image_path(member[:avatar]) %>" alt="Teacher" class="img-circle styled" width="150px"></p>
        <h4 class="p-title"><%= member[:name] %> <small><%= member[:title] %></small></h4>
        <%= t('.speciality') %>: <small><%= member[:skills] %></small>
        <p><%= member[:about] %></p>
        <ul class="social_team">
          <% if member[:facebook] %>
            <li><a href="<%= member[:facebook] %>" target="_blank"><i class="icon-facebook"></i></a></li>
          <% end %>

          <% if member[:twitter] %>
            <li><a href="<%= member[:twitter] %>" target="_blank"><i class="icon-twitter"></i></a></li>
          <% end %>

          <% if member[:google] %>
            <li><a href="<%= member[:google] %>" target="_blank"><i class=" icon-google"></i></a></li>
          <% end %>
        </ul>
        <hr>
        <a href="<%= member[:blog] %>" target="_blank" class=" button_medium_outline">Blog</a>
      </div>
    </div>
    <% end %>
  </div>

  <!-- sponsors -->
  <hr class="add_bottom_30">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/cooperation_list' %>
    </div>
  </div>
  <!-- sponsors -->

</div><!-- End container -->
</section><!-- End main_content-->

<%= render 'layouts/testimonials' %>
