
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag_from_translation_config t('site.camp_main_banner'), width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

<%= render partial: 'pages/camp_count_down', locals: {configs: @camp.top_count_down, camp: @camp} %>

<!-- Start Camp Feature -->
<div class="feature-section light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <div class="feature-list top-spacing-lg">
          <% t('site.camp.features').each do |f| %>
            <div class="col-sm-6 col-lg-3 col-md-6 text-center bottom-spacing">
              <%= image_tag "camp_features/#{f[:img]}", class: "bottom-spacing" %>
              <h3><%= f[:title] %></h3>
              <p class="line-height-lg"><%= raw f[:description] %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Camp Feature -->

<!-- Start Camp List -->
<div class="camp-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="text-center top-spacing-lg bottom-spacing-sm"><span><%= @camp.title %></span></h3>
        <div class="text-center text-grey bottom-spacing">
          <i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('.location_label') %>
          <%= link_to "#{t('company.address')} (#{t('company.name')})", t('company.gmap_url'), target: :_blank %>
        </div>
        <% @camp.courses.each do |lesson| %>
          <% course = lesson['record'] %>
          <!--Start Camp-->
          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing border-grey no-padding">
            <div class="camp-wrap">
              <div class="cover col-sm-6 col-lg-6 col-md-6 no-padding" style="background: url('<%= course.image.thumb %>'); background-size: cover; background-position: center center;">
                <div class="filter">
                  <p class="text-center four-padding-lg top-spacing-lg">
                    <span class="descri"><%= raw tr(course, :summary) %></span>
                    <br><br>

                    <% btn_states = DateTime.parse(lesson['time_limit']) < Time.now ? lesson['btn_states']['outdated'] : lesson['btn_states']['opening'] %>
                    <%= link_to btn_states['text'], btn_states['href'], class: btn_states['class'] || "btn btn-white-border" if btn_states.present? %>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6 rl-padding-lg">
                <h4 class="top-padding text-center"><%= lesson['name'] %></h4>
                <div class="both-spacing-sm four-padding text-center light-grey-bg">
                  <%= t('.time_label') %>
                  <br>
                  <%= raw lesson['time_description'].join('<br>') %>
                </div>
                <div class="col-sm-5 col-lg-5 col-md-5">
                  <div class="media">
                    <% course.speakers.each do |s| %>
                      <div class="media-body">
                        <b class="media-heading"><%= tr s, :name %></b>
                        <p class="small"><%= tr_and_convert_newline2br s, :summary %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div id="will-learn" class="col-sm-7 col-lg-7 col-md-7">
                  <b><%= t('.what_will_learn_label', hours: course.hours) %></b>
                  <div class="small text-overflow-auto-scroll">
                    <%= raw tr(course, :what_will_learn) %>
                  </div>
                  <div class="pull-right small vex-dialog-opener" data-target="#camp-outline-dialog-<%= course.permalink %>">
                    <a><%= t('.view_outline') %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Camp-->

          <!-- Start Dialog -->
          <div class="vex-dialog-content" id="camp-outline-dialog-<%= course.permalink %>" title="<%= lesson['name'] %>">
            <% course.stages.includes(:translations).each_with_index do |stage, index| %>
              <div class="four-spacing">
                <h4><%= t('.chapter_title', nth: index) %> <%= tr stage, :title %></h4>
                <%= raw tr(stage, :description) %>
                <ul class="date-time bottom-spacing-lg">
                  <li><i class="fa fa-calendar text-grey" aria-hidden="true"></i> <%= stage.date %></li>
                  <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= time_range stage %></li>
                  <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= show_hours stage.hours %>h</li>
                </ul>
              </div>
            <% end %>
          </div>
          <!-- End Dialog -->

        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Camp List -->

<!-- Start Camp Sale -->
<% if (sales_conf = @camp.sales).present? %>
  <div class="camp-sale red-bg bottom-padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
          <h3 class="text-center top-spacing"><%= image_tag 'gift.png' %> <span><%= t('.sale_title') %></span></h3>
          <p class="line-height-lg"><%= raw sales_conf['sentence'] %></p>
          <%= link_to sales_conf['button']['text'], sales_conf['button']['href'], class: "btn btn-white-border" if sales_conf['button'].present? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End Camp Sale -->

<!-- Start Feedback Section -->
<div class="camp-feedback feedback-section bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <h3 class="text-center top-spacing-lg bottom-spacing"><span><%= t('.testimonials') %></span></h3>
        <%= render partial: 'shared/carousel', locals: {
          items: @camp.testimonials,
          item_partial: 'pages/camp_testimonial',
          latency: @camp.testimonials_latency,
          slides: 3
        } %>
      </div>
    </div>
  </div>
</div>
<!-- End Feedback Section -->

<!-- Start Camp Q&A -->
<div class="camp-qna light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <h3 class="text-center top-spacing-lg"><span><%= t('.qna.title') %></span></h3>
      <% base_index = 0; 2.times do %>
        <div class="col-sm-6 col-lg-6 col-md-6 rl-padding-lg">
          <div class="line-height-lg">
            <% base_index = (@camp.qnas.count/2).times do |i| %>
              <h4 class="top-spacing"><%= "#{t('.qna.q_label')}#{@camp.qnas[base_index + i][:q]}" %></h4>
              <p><%= "#{t('.qna.a_label')}#{@camp.qnas[base_index + i][:a]}" %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center both-spacing">
        <%= t('.more_question')[0] %>
        <%= link_to(t('.contact_link'), contacts_path, target: :_blank) %>
        <%= t('.more_question')[1] %>
      </div>
    </div>
  </div>
</div>
<!-- End Camp Q&A -->

<!-- Start Tickets -->
<div id="tickets" class="tickets bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <%= raw @camp.iframe_html %>
      </div>
    </div>
  </div>
</div>
<!-- End Training Introduction -->

<!-- Start Lecture Notice -->
<div class="training-intro bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <h3 class="top-spacing bottom-spacing-sm"><%= t('.payment_note') %></h3>
        <div class="rl-padding-lg line-height-lg"><%= raw @camp.payment_note %></div>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <h3 class="top-spacing bottom-spacing-sm"><%= t('.note') %></h3>
        <div class="rl-padding-lg line-height-lg"><%= raw @camp.note %></div>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Notice -->

<%= render partial: 'pages/camp_count_down', locals: {configs: @camp.bottom_past_info, camp: @camp} %>
