
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag t('site.contact_main_banner.folder'), t('site.contact_main_banner.sizes'), width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Contact Info -->
<div class="contact-info both-spacing-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing-sm">
          <h3><%= t('company.name') %></h3>
          <%= t('company.address') %>
        </div>
        <div class="col-sm-12 col-lg-10 col-md-12 bottom-spacing-sm no-padding">
          <div class="col-sm-6 col-lg-6 col-md-6">
            <%= "#{t('.tel_label')}#{t('company.contact_phone')}" %>
            <br>
            <%= "#{t('.mobile_label')}#{t('company.mobile')}" %>
            <br>
            <%= t('.email_label') %>
            <%= link_to t('company.email'), "mailto:#{t('company.email')}" %>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6">
            <%= "#{t('.fax_label')}#{t('company.fax')}" %>
            <br><%= t('company.vat_no') %>
          </div>
        </div>
        <div class="col-sm-12 col-lg-10 col-md-12 bottom-spacing">
          <iframe src="<%= t('company.gmap_iframe_url') %>" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="bottom-spacing-sm">
          <%= t('.welcom_to_contact') %>
        </div>
        <%= form_for @contact do |f| %>
          <div class="form-group <%= has_error_class @contact, :name %>">
            <%= f.text_field :name, class: 'form-control input-lg', placeholder: Contact.human_attribute_name(:name) %>
            <%= help_block @contact, :name %>
          </div>
          <div class="form-group <%= has_error_class @contact, :email %>">
            <%= f.text_field :email, class: 'form-control input-lg', placeholder: Contact.human_attribute_name(:email) %>
            <%= help_block @contact, :email %>
          </div>
          <div class="form-group <%= has_error_class @contact, :phone %>">
            <%= f.text_field :phone, class: 'form-control input-lg', placeholder: Contact.human_attribute_name(:phone) %>
            <%= help_block @contact, :phone %>
          </div>
          <div class="form-group <%= has_error_class @contact, :price %>">
            <%= f.select :price, ([[t('.budget'), '']] + t('site.contact_budgets').map {|b| [b, b] }), {}, class: 'form-control input-lg', id: 'sel1' %>
            <%= help_block @contact, :price %>
          </div>
          <div class="form-group <%= has_error_class @contact, :message %>">
            <%= f.text_area :message, rows: 5, class: 'form-control', placeholder: t('.write_your_message') %>
            <%= help_block @contact, :message %>
          </div>
          <div class="form-group">
            <%= recaptcha_tags %>
            <div class="has-error"><%= help_block @contact, :base %></div>
          </div>
          <%= f.submit t('.submit'), class: 'btn btn-red btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Info -->


