<section id="map" data-scrollwheel="false"></section>
<section id="directions">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
       <form action="http://maps.google.com/maps" method="get" target="_blank">
        <div class="input-group">
          <input type="text" name="saddr" placeholder="<%= t('.enter_your_starting_point') %>" class="form-control style-2" />
          <input type="hidden" name="daddr" value="<%= t('company.address') %>"/><!-- Write here your end point -->
          <span class="input-group-btn">
            <button class="btn" type="submit" value="Get directions" style="margin-left:0;"><%= t('.get_directions') %></button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>
</div>
</section>

<section id="main_content" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><%= t('.address') %></h3>
        <ul id="contact-info">
          <li><i class="icon-user"></i> <%= t('company.name') %> (<%= t('company.vat_no') %>)</li>
          <li><i class="icon-address"></i> <%= t('company.address') %></li>
          <li><i class="icon-phone"></i> <%= t('company.contact_phone') %> (mobile: <%= t('company.mobile') %>)</li>
          <li><i class="icon-print"></i> <%= t('company.fax') %></li>
          <li><i class=" icon-email"></i> <%= mail_to t('company.email') %></a></li>
        </ul>
        <hr>
        <h3><%= t('.follow_us') %></h3>
        <p><%= t('.follow_us_desc') %></p>
        <ul id="follow_us_contacts">
          <li><a href="https://www.facebook.com/5xruby" target="_blank"><i class="icon-facebook"></i>fb.com/5xruby</a></li>
          <li><a href="https://twitter.com/5xruby" target="_blank"><i class="icon-twitter"></i>twitter.com/5xruby</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class=" box_style_2">
          <span class="tape"></span>
          <div class="row">
            <div class="col-md-12">
              <h3><%= t('.general_enquire') %></h3>
            </div>
          </div>
          <div id="message-contact"></div>
          <%= form_for @contact, id: :contactform do |f| %>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group <%= has_error_class @contact, :first_name %>">
                  <%= f.text_field :first_name, class: 'form-control style_2', placeholder: Contact.human_attribute_name(:first_name) %>
                  <%= help_block @contact, :first_name %>
                  <span class="input-icon"><i class="icon-user"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group <%= has_error_class @contact, :last_name %>">
                  <%= f.text_field :last_name, class: 'form-control style_2', placeholder: Contact.human_attribute_name(:last_name) %>
                  <%= help_block @contact, :last_name %>
                  <span class="input-icon"><i class="icon-user"></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group <%= has_error_class @contact, :email %>">
                  <%= f.text_field :email, class: 'form-control style_2', placeholder: Contact.human_attribute_name(:email) %>
                  <%= help_block @contact, :email %>
                  <span class="input-icon"><i class="icon-email"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group <%= has_error_class @contact, :phone %>">
                  <%= f.text_field :phone, class: 'form-control style_2', placeholder: Contact.human_attribute_name(:phone) %>
                  <%= help_block @contact, :phone %>
                  <span class="input-icon"><i class="icon-phone"></i></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group <%= has_error_class @contact, :price %>">
                  <%= f.number_field :price, id: 'ntd', class: 'form-control style_2', placeholder: Contact.human_attribute_name(:price) %>
                  <%= help_block @contact, :price %>
                  <span class="input-icon"><i class="icon-dollar"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <input type="number" id="mmm" class="form-control style_2" placeholder="1 勝文 = 10 萬" step="any">
                  <span class="input-icon">勝文</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group <%= has_error_class @contact, :message %>">
                  <%= f.text_area :message, rows: 5, class: 'form-control', placeholder: t('.write_your_message'), style: 'height:200px;' %>
                  <%= help_block @contact, :message %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= render 'layouts/recaptcha' %>
                <div class="has-error"><%= help_block @contact, :base %></div>
                <hr>
                <%= f.submit t('.submit'), class: 'button_medium' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :append_body do %>
  <!-- GOOGLE MAP -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/js/mapmarker.jquery.js"></script>
  <script type="text/javascript" src="/js/mapmarker_func.jquery.js"></script>
<% end %>
