
<!-- Start Main Banner -->
<div class="top-banner members-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <small class="breadcrumb"><%= link_to t('breadcrumb.home'), root_path %> > <%= t('breadcrumb.members') %></small>
        <h1 class="title top-padding-lg"><%= t('site.members_main_banner.title') %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Member List -->
<div class="member-list bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <% t('members').each do |member| %>
          <%= render partial: 'shared/member', locals: {
            item: {
              avatar: image_path(member[:avatar]),
              name: member[:name],
              blog_url: member[:blog],
              facebook_url: member[:facebook],
              twitter_url: member[:twitter],
              google_url: member[:google],
              github_url: member[:github],
              website_url: member[:website],
              role_text: member[:title],
              summary: "#{member[:skills]}<br>#{member[:about]}"
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Feedback Section -->

