
<!-- Start Main Banner -->
<div class="top-banner press-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <%= gen_course_breadcrumb%>
        <h1 class="title top-padding-lg"><%= t('site.press_main_banner.title') %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Press List -->
<div class="press-list bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'http://www.digit.in/apps/app-of-the-week-shopmatic-go-33594.html', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-digit-2017-02-04.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2017/02/04</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">App of the Week: Shopmatic Go</h4>
            <div class="press-name rl-padding text-grey">
              ── digit
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://www.yourator.co/articles/48', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-yourator-2016-12-20.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/12/20</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">從社群出發！知名軟體開發公司「五倍紅寶石」裡閃閃發亮的女性工程師</h4>
            <div class="press-name rl-padding text-grey">
              ── Yourator
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://www.inside.com.tw/2016/12/16/shopmatic-has-acquired-5xruby', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-inside-2016-12-16.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/12/16</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">新加坡電商 Shopmatic 買下台灣 RoR 團隊五倍紅寶石！</h4>
            <div class="press-name rl-padding text-grey">
              ── INSIDE
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://buzzorange.com/techorange/2016/12/16/shopmatic-acquires-5xruby/', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-techorange-2016-12-16.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/12/16</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">五倍紅寶石、五倍 Ruby 人才！台 RoR 團隊被新加坡電商新創 Shopmatic 收購</h4>
            <div class="press-name rl-padding text-grey">
              ── Tech Orange 科技報橘
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://www.techinasia.com/ecommerce-service-provider-shopmatic-nabs-ruby-rails-dev-team-acquisition', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-techinasia-2016-12-15.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/12/15</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">Ruby Ecommerce service provider Shopmatic nabs Ruby on Rails dev team through acquisition</h4>
            <div class="press-name rl-padding text-grey">
              ── Tech in Asia
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'http://www.ithome.com.tw/news/110345', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-ithome-2016-12-15.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/12/15</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">臺灣RoR團隊揚名國際，新加坡電商新創買下五倍紅寶石搶人才</h4>
            <div class="press-name rl-padding text-grey">
              ── iThome
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://panx.asia/archives/48782', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-panx-2016-05-20.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/05/20</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">Ruby 語言推廣公司「五倍紅寶石」推企業代訓，因為傳統獵才行不通</h4>
            <div class="press-name rl-padding text-grey">
              ── PanX 泛科技
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://panx.asia/archives/15525', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-panx-2014-06-04.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2016/05/20</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">導入社會企業思維，「五倍紅寶石」要永續經營 Ruby 開發者社群</h4>
            <div class="press-name rl-padding text-grey">
              ── PanX 泛科技
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 both-spacing">
        <%= link_to 'https://www.openfoundry.org/index.php?option=com_content&task=view&id=9256&Itemid=4%3bisletter=1', target: :_blank do %>
          <div class="press-wrap">
            <div class="cover">
              <%= image_tag 'press-openfoundry-2014-06-26.png' %>
              <div class="filter"></div>
            </div>
            <div class="rl-padding text-center top-spacing-sm">
              <span class="border-bottom-grey text-black">2014/06/26</span>
            </div>
            <h4 class="top-spacing-sm bottom-spacing rl-padding">五倍紅寶石！讓你在開發上獲得五倍祝福</h4>
            <div class="press-name rl-padding text-grey">
              ── OpenFoundry
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Press List -->

