<%= simple_form_for(@admin_apply, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.association :stage %>
    <%= f.association :schedule %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
