<%= simple_form_for(@admin_post, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.association :author %>
    <%= f.input :image %>
    <%= f.input :remove_image, as: :boolean %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :tag_list, input_html: {class: 'select2-tags'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
