<%= simple_form_for(@admin_post, html: {class: "post-form"}) do |f| %>

  <div class="form-inputs">
    <%if f.object.new_record?%>
      <%= f.input :markup_type do %>
        <%Post::AVAILABLE_MARKUP_TYPES.each do |mt|%>
          <label><%=f.radio_button :markup_type, mt%><%=mt%></label>
        <%end%>
      <%end%>
    <%else%>
      <%=f.hidden_field :markup_type%>
    <%end%>
    <%= f.association :author, input_html: {class: 'select2'} %>
    <%= f.input :image %>
    <%= f.input :remove_image, as: :boolean %>
    <%= f.input :title %>
    <%= f.input :permalink %>
    <%= f.input :summary, hint: '最多 150 字，用在 meta tag 和 posts/index 頁面' %>
    <%= f.input :content_html, as: :text, wrapper_html: {class: 'content-editor'}, input_html: {class: 'redactor'}%>
    <%= f.input :content_markdown, as: :text, input_html: {class: 'markdown-editor'}, wrapper_html: {class: 'content-editor'}%>
    <%= f.input :tag_list, input_html: {class: 'select2-tags'} %>
    <%= f.input :is_online %>
    <%= f.input :publish_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
<%=file_field :redactor_image, :image, style: "display:none;", data: {url: redactor_images_path(format: :json) }%>
