<%= simple_form_for(@admin_post) do |f| %>

  <div class="form-inputs">
    <%= f.association :author, input_html: {class: 'select2'} %>
    <%= f.input :image %>
    <%= f.input :remove_image, as: :boolean %>
    <%= f.input :title %>
    <%= f.input :permalink %>
    <%= f.input :summary, hint: '最多 150 字，用在 meta tag 和 posts/index 頁面' %>
    <%= f.input :content, input_html: {class: :redactor} %>
    <%= f.input :tag_list, input_html: {class: 'select2-tags'} %>
    <%= f.input :is_online %>
    <%= f.input :publish_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
