<h1><%= Admin::Post.model_name.human %> <%= link_to t('crud.new'), new_admin_post_path, class: 'btn btn-lg btn-success' %></h1>

<%= paginate @admin_posts %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <%= th_for Admin::Post, :publish_at, :id, :image, :title, :permalink, :summary, :author %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_posts.each do |admin_post| %>
      <tr>
        <%= td_for admin_post, [:publish_at, ->(p){ l p.publish_at, format: :short }], :id, :image, :title, :permalink, :summary, [:author, :name] %>
        <%= td_action_for admin_post %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_posts %>
