
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag t('site.projects_main_banner.folder'), t('site.projects_main_banner.sizes'), width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Project List -->
<div class="project-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="text-center both-spacing-lg"><span><%= t('.title') %></span></h3>
        <div class="lecture-list">
          <%= render partial: 'list', locals: {showcases: @showcases} %>
          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing text-center">
            <%= link_to t('.members'), members_path, class: 'btn btn-red' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Project List -->

<%= render partial: 'cooperation_list' %>

