
<!-- Start Main Banner -->
<div class="top-banner projects-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <%= gen_course_breadcrumb%>
        <h1 class="title top-padding-lg"><%= t('site.projects_main_banner.title') %></h1>
        <p class="line-height"><%= t('site.projects_main_banner.subtitle') %></p>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Project List -->
<div class="project-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="title text-center both-spacing-lg"><span><%= t('.title') %></span></h3>
        <div class="lecture-list">
          <%= render partial: 'list', locals: {showcases: @showcases} %>
          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing text-center">
            <%= link_to t('.members'), members_path, class: 'btn btn-red' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Project List -->

<%= render partial: 'cooperation_list' %>

