<%= simple_nested_form_for(current_object) do |f| %>
  <div class="form-inputs">
    <%= f.input :alt %>
    <%= f.input :href %>
  </div>
  <hr>
  <%= f.simple_fields_for :index_picture_imgs do |ff| %>
    <div>
      <%= ff.input :src %>
      <%= ff.input :size %>
      <%= ff.input :lang %>
      <%= ff.link_to_remove content_tag(:i, nil, class: 'glyphicon glyphicon-trash') %>
      <hr>
    </div>
  <% end %>
  <%= f.link_to_add content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), :index_picture_imgs, class: 'btn btn-xs btn-success' %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
