<article>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="/img/class<%= index %>.png" alt="" ></div>
      <div class="col-md-9 col-sm-9">
      <h3><em><%= t('.stage_no', stage: index) %></em> <%= stage.title %></h3>
        <%= stage.description %>
        <ul class="data-lessons">
          <%#li class="po-markup">
            <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> <%= t('.available_dates') %><%#/a>
            <div class="po-content hidden">
              <div class="po-title"><strong><%= t('.next_dates') %><%#/strong></div> <!-- ./po-title -->
              <div class="po-body">
                <ul class="list_po_body">
                  <% stage.schedules.each do |schedule| %>
                  <%#li><i class="icon-ok"></i> <%= l schedule.date %><%#/li>
                  <% end %>
              <%#/div><!-- ./po-body -->
            </div><!-- ./po-content -->
          </li%>
          <li class="po-markup">
            <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i><%= Stage.human_attribute_name(:duration) %>： <%= '%.1f' % stage.duration %></a>
            <%#div class="po-content hidden">
              <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
              <div class="po-body">
                <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
              </div><!-- ./po-body -->
            </div%><!-- ./po-content -->
          </li>
          <%#li class="po-markup">
            <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio doc</a>
            <div class="po-content hidden">
              <div class="po-title"><strong>Audio doc</strong></div> <!-- ./po-title -->
              <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Audio lessons</li><li> <i class="icon-ok"></i>1 Audio for practice</li><li> <i class="icon-ok"></i>1 Audio Quiz</li></ul>
              </div><!-- ./po-body -->
            </div><!-- ./po-content -->
          </li>
          <li class="po-markup">
            <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
            <div class="po-content hidden">
              <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
              <div class="po-body">
                <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
              </div><!-- ./po-body -->
            </div><!-- ./po-content -->
          </li%>
        </ul>
        <% stage.schedules.each do |schedule| %>
        <%= link_to schedule.date, 'javascript:void(0)', class: 'button_medium' %>
        <% end %>
      </div>

    </div><!-- End row  -->
  </div><!-- End container  -->
</article><!-- End strip-program  -->