<%= simple_nested_form_for(@current_object) do |f| %>
  <div class="form-inputs">
    <%= f.input :type, as: :select, collection: [Activity::Camp, Activity::Talk].map{|t| [t.model_name.human, t.to_s]}, include_blank: false %>
    <%= f.association :template, input_html: {class: 'select2'} %>
    <%= f.input :title %>
    <%= f.input :is_online, as: :select, include_blank: false %>
    <%= f.input :permalink %>
    <%= f.input :payment_note, input_html: {class: :redactor} %>
    <%= f.input :note, input_html: {class: :redactor} %>
  </div>

  <%= render 'activity_courses_fields', f: f %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
