<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for current_object, :id, [:type, ->(a){ a.model_name.human }], :template, :permalink, :payment_note, :note %>
  </tbody>
</table>

<div class="page-header"><h2><%= Admin::Course.model_name.human %></h2></div>

<table class="table">
  <thead>
    <%= th_for Admin::Course, :id, :title, :start_on %>
  </thead>
  <tbody>
    <% current_object.courses.each do |admin_course| %>
      <tr>
        <%= td_for admin_course, :id, [:title, ->(a){ link_to a.title, a}], :start_on %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_activity_path(current_object), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_activities_path, class: 'btn btn-default btn-lg' %>
</div>
