<div class="box_style_1">
  <h4><%= t('.categories') %></h4>
  <ul class="submenu-col">
    <li><%= link_to t('.all_courses'), Course, id: (:active unless @category) %></li>
    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <% if courses = category.courses.available.presence %>
        <li>
          <%= link_to courses_path(category: category.permalink), id: (:active if @category == category) do %>
            <%= "#{category.name} (#{courses.length})" %> <%#= image_tag '/img/new.png', alt: 'New' %>
          <% end %>
        </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <hr>
  <h5><%= t('.satisfied') %></h5>
  <p><%= t('.upcoming') %></p>
</div>
