<div class="box_style_1">
  <h4><%= t('.categories') %></h4>
  <ul class="submenu-col">
    <li><%= link_to t('.all_courses'), Course, id: (:active unless @category) %></li>
    <% @categories.each do |category| %>
      <li>
        <%= link_to courses_path(category: category.permalink), id: (:active if @category == category) do %>
          <%= "#{category.name} (#{category.available_courses.length })" %> <%#= image_tag '/img/new.png', alt: 'New' %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr>
  <h5><%= t('.satisfied') %></h5>
  <p><%= t('.upcoming') %></p>
</div>
