<div class="box_style_1">
  <h4><%= t('.categories') %></h4>
  <ul class="submenu-col">
    <li><%= link_to t('.all_courses'), Course, id: (:active unless @category) %></li>
    <% @categories.each do |category| %>
    <li>
      <%= link_to courses_path(category_id: category.id), id: (:active if @category == category) do %>
        <%= "#{category.name} (#{category.courses.size})" %> <%= image_tag '/img/new.png', alt: 'New' %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <hr>
  <h5>對我們的課程還覺得滿意嗎?</h5>
  <p>我們將陸續推出與 Ruby/Rails 或網站開發相關的課程，若您有其它課程上的建議，歡迎您來信與我們聯繫。</p>
</div>
