<div class="box_style_1">
  <h4><%= t('.categories') %></h4>
  <ul class="submenu-col">
    <li><%= link_to t('.all_courses'), Course, id: (:active unless params[:category_id]) %></li>
    <% @categories.each do |category| %>
    <li>
      <%= link_to courses_path(category_id: category.id), id: (:active if params[:category_id].to_i == category.id) do %>
        <%= "#{category.name} (#{category.courses.size})" %> <%= image_tag '/img/new.png', alt: 'New' %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <hr>

  <h5><%= t('.upcoming_courses') %></h5>
  <p><%= t('.upcoming_courses_detail') %></p>
</div>