<%= sub_header title: t('.title') %>

<section id="main_content">
  <div class="container">

    <%= render 'breadcrumb' %>

    <div class="row">
      <aside class="col-lg-3 col-md-4 col-sm-4">
        <%= render 'sidebar' %>
      </aside>

      <div class="col-lg-9 col-md-8 col-sm-8">
        <div id="courses" class="row">
          <%= render @courses %>
        </div><!-- End row -->
      </div><!-- End col-lg-9-->



    </div><!-- End row -->

    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= paginate @courses %>
      </div>
    </div>
  </div><!-- End container -->
</section><!-- End main_content -->
