
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag "lectures-main-banner", ["400w", "600w", "1280w"], width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Lecture Category -->
<div class="lecture-category">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <ul class="nav nav-pills both-spacing">
          <li class="<%= 'active' unless @category %>"><%= link_to t('.all_courses'), Course %></li>
          <% @categories.each do |category| %>
            <li class="<%= 'active' if @category == category %>">
              <%= link_to courses_path(category: category.permalink) do %>
                <%= "#{category.name} (#{category.courses_count })" %> <%= image_tag '/img/new.png', alt: 'New' if category.new_course? %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Lecture Category -->

<!-- Start Lectures -->
<div class="lectures-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <div class="lecture-list">
          <%= render partial: 'courses/list', locals: {courses: @courses } %>
          <nav class="text-center">
            <%= paginate @courses %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Lectures -->

<%= render partial: 'speakers/sliders', locals: {speakers: @speakers} %>

