<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1><%= t('.title') %></h1>
        <p class="lead"><%= t('.summary') %></p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
  <div class="container">

    <%= render 'breadcrumb' %>

    <div class="row">
      <aside class="col-lg-3 col-md-4 col-sm-4">
        <%= render 'sidebar' %>
      </aside>

      <div class="col-lg-9 col-md-8 col-sm-8">
        <% @courses.each_slice(3) do |courses| %>
        <div class="row">
          <%= render courses %>
        </div><!-- End row -->
        <% end %>
      </div><!-- End col-lg-9-->



    </div><!-- End row -->

    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= paginate @courses %>
      </div>
    </div>
  </div><!-- End container -->
</section><!-- End main_content -->
