<section id="sub-header" class="pattern_1" >
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1><%= @course.title %></h1>
        <p class="lead"><%= @course.subtitle %></p>
      </div>
    </div><!-- End row -->

    <div class="row" id="sub-header-features">
      <div class="col-md-6">
        <h2><%= t('.summary') %></h2>
        <%= sanitize @course.summary %>
      </div>
      <div class="col-md-6">
        <h2><%= t('.what_you_will_learn') %></h2>
        <%= sanitize @course.what_will_learn %>
      </div>

    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section>

<section id="strips-course" class="shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lead add_bottom_45"><%= sanitize @course.description %></div>
      </div>
    </div>
  </div>

  <% @course.stages.each_with_index do |stage, index| %>
  <%= render stage, index: index + 1 %>
  <% end %>

  <div class="container">
    <hr>

    <div class="row">

      <div class="col-md-4">
        <div class="question_box">
          <h3>No sit debitis meliore postulant, per ex prompta alterum sanctus?</h3>
          <p>
            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="question_box">
          <h3>Autem putent singulis usu ea, bonorum suscipit eum?</h3>
          <p>
            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="question_box">
          <h3>Pro moderatius philosophia ad, ad mea mupercipitur?</h3>
          <p>
            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
          </p>
        </div>
      </div>

    </div><!-- end row -->
  </div>

</section>

<section id="join">
 <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="row">
      <div class="col-md-2 hidden-sm hidden-xs"><img src="/img/arrow_hand_1.png" alt="Arrow" > </div>
        <div class="col-md-8"><a href="#" class="button_big">Start learning</a> </div>
      </div>
    </div>
  </div>
</div>
</section>