<% content_for :append_head do %>
<link href="/css/single_course.css" rel="stylesheet">
<style>
  .progress-bar{
    -webkit-transition: none;
            transition: none;
  }
</style>
<% end %>
<section id="sub-header" class="pattern_1">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1><%= @course.title %></h1>
        <p class="lead"><%= @course.subtitle %></p>
      </div>
    </div><!-- End row -->

    <div class="row" id="sub-header-features">
      <div class="col-md-6">
        <h2><%= t('.summary') %></h2>
        <p><%= @course.summary %></p>
      </div>
      <div class="col-md-6">
        <h2><%= t('.what_you_will_learn') %></h2>
        <%= raw @course.what_will_learn %>
      </div>

    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section>

<section id="main_content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <%= raw course_charger(@course) %>
            <span id="end"><i class="icon-trophy"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" data-percentage="<%= @course.need_attendees_percent %>"></div>
            </div>
          </div>
        </div><!-- End progress bar -->

        <hr>
        <% @course.stages.each_with_index do |stage, index| %>
        <h3 class="chapter_course"><%= t('.chapter_title', nth: index) %> <%= stage.title %></h3>
        <div class="strip_single_course">
          <h4 class="completed"><%= raw stage.description %></h4>
          <ul>
            <li><i class="icon-clock"></i> <%= '%.1f' % stage.duration %>h</li>
            <!-- <li><i class="icon-doc"></i>Text reading</li> -->
          </ul>
        </div><!-- end strip single course -->
        <% end %>
      </div><!-- End col-md-8  -->

      <aside class="col-md-4">
        <div class="box_style_1">
          <h4><%= t('.lessons') %> <span class="pull-right"><%= @course.stages.size %></span></h4>
          <h4><%= t('.hours') %> <span class="pull-right"><%= '%.2f' % @course.hours %></span></h4>
          <% if @course.iframe_html.blank? && apply_link = @course.apply_link.presence %>
          <h4><a href="<%= apply_link %>" target="_blank"><%= t('.apply_now') %> <i class="icon-login-2 pull-right"></i></a></h4>
          <% end %>
          <h4><%= Speaker.model_name.human %></h4>
          <% @course.speakers.each do |speaker| %>
          <div class="media">
            <div class="pull-right">
              <%= image_tag speaker.avatar.thumb, class: 'img-circle', alt: speaker.name, width: '68' %>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= speaker.name %></h5>
              <p><%= speaker.summary %></p>
            </div>
          </div>
          <% end %>
        </div>

        <% if @course.iframe_html.present? %>
          <div class="box_style_1"><%= raw @course.iframe_html %></div>
        <% end %>

        <% if note = @course.note.presence %>
          <div class="box_style_1">
            <h4><%= t('.note') %></h4>
            <%= raw @course.note %>
          </div>
        <% end %>

        <!-- <div class="box_style_1">
          <h4>Legend</h4>
          <ul class="legend_course">
            <li id="tostart">Still to start</li>
            <li id="inprogress">In progress</li>
            <li id="completed">Completed</li>
          </ul>
        </div> -->


        <!-- <div class="box_style_1">
          <h4>Related content</h4>
          <ul class="list_1">
            <li><a href="#">Ceteros mediocritatem</a></li>
            <li><a href="#">Labore nostrum</a></li>
            <li><a href="#">Primis bonorum</a></li>
            <li><a href="#">Ceteros mediocritatem</a></li>
          </ul>
        </div> -->
      </aside> <!-- End col-md-4 -->

    </div><!-- End row -->
  </div><!-- End container -->
</section>
<% content_for :append_body do %>
<script src="/js/jquery.fitvids.js"></script> <!-- for video responsive-->
<script type="text/javascript">
  /* <![CDATA[ */
  // t: current time, b: begin value
  // c: change value, d: duration
  Math.easeOutExpo = function(t, b, c, d){
    return c * ( -Math.pow( 2, -10 * t/d ) + 1 ) + b;
  };
  setTimeout(function(){
    $('.progress .progress-bar').each(function() {
      var me = $(this);
      var perc = me.attr("data-percentage");
      var current_perc = 0;
      var timer = 0;
      var progress = setInterval(function(){
        if(current_perc >= perc) clearInterval(progress);
        else{
          current_perc = Math.easeOutExpo(timer, 0, perc, 2000);
          if(current_perc > perc - 0.1) current_perc = perc;
          me.css('width', (current_perc) + '%');
        }
        me.text((current_perc | 0)+'%');
        timer += 10;
      }, 10);
    });
  }, 500);
  /* ]]> */
</script>
<% end %>
