<div class="page-header"><h2><%= Event.model_name.human %></h2></div>
<table id="events" class="table">
  <thead>
    <tr>
      <th></th>
      <%= th_for Event, :start_at, :title, :description, :speaker %>
    </tr>
  </thead>
  <tbody class="sortable" data-items=".stage">
    <%= f.simple_fields_for :events, wrapper: false do |ff| %>
      <%= content_tag_for :tr, ff.object, nil, class: 'fields' do %>
        <td><%= ff.link_to_remove content_tag(:i, nil, class: 'glyphicon glyphicon-trash') %></td>
        <td class="col-sm-2"><%= ff.input_field :start_at, label: false %></td>
        <td><%= ff.input_field :title, class: 'form-control', label: false %></td>
        <td><%= ff.input_field :description, class: 'form-control', label: false %></td>
        <td class="col-sm-2"><%= ff.input_field :speaker_id, class: 'select2-single', label: false, data: {model: :Speaker, column: :name, text: ff.object.speaker.try(:name).to_s} %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= f.link_to_add content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), :events, class: 'btn btn-xs btn-success', data: {target: '#events'} %>