<h1><%= Admin::Schedule.model_name.human %> <%= link_to t('crud.new'), new_admin_schedule_path, class: 'btn btn-lg btn-success' %></h1>

<%= paginate @admin_schedules %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>報名人數</th>
      <%= th_for Admin::Schedule, :id, :stage, :date, :description %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_schedules.each do |admin_schedule| %>
      <tr>
        <td><span class="badge"><%= admin_schedule.applies.size %></span></td>
        <%= td_for admin_schedule, :id, [:stage, ->(s){ link_to(s.stage.course.title, admin_course_path(s.stage.course)) + " -> #{s.stage.title}" }], :date, :description %>
        <%= td_action_for admin_schedule %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_schedules %>