
<!-- Start Main Banner -->
<div class="top-banner posts-top-banner red-bg both-padding-lg medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 top-spacing-sm text-right">
        <%= fb_share_btn %>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
        <small class="breadcrumb"><%= link_to t('breadcrumb.home'), root_path %> > <%= t('breadcrumb.posts') %></small>
        <h1 class="title top-padding-lg"><%= t('site.posts_main_banner.title') %></h1>
        <p class="line-height"><%= t('site.posts_main_banner.subtitle') %></p>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->

