<ol class="breadcrumb">
  <li><%= link_to t('.home'), root_path %></li>
  <% if @query_tags.present? %>
    <li><%= link_to t('.posts'), posts_path %></li>
    <li class="active"><%= @query_tags.map{|t| "##{t}"}.join(', ') %></li>
  <% elsif action_name == 'show' %>
    <li><%= link_to t('.posts'), posts_path %></li>
    <li class="active"><%= @post.title %></li>
  <% else %>
    <li class="active"><%= t('.posts') %></li>
  <% end %>
</ol>