<%= content_tag_for :div, post, class: 'post' do %>
  <%= link_to image_tag(post.image.thumb, class: 'img-responsive'), (action_name == 'index' ? post : post.image.url), title: tr(post, :title) %>
  <div class="post_info clearfix">
    <div class="post-left">
      <ul>
        <li><i class="icon-calendar-empty"></i><!-- On  --><span><%= l post.publish_at, format: :short %></span></li>
        <li><i class="icon-user"></i>By <a href="#"><%= post.author.try(:name) %></a></li>
        <li><i class="icon-tags"></i><%= t('.tags') %>
          <% post.tags.each do |tag| %>
            <%= link_to tag, posts_path(tags: tag.name) %>
          <% end %>
        </li>
        <li><%= fb_share_btn href: post_url(post) %></li>
      </ul>
    </div>
    <% if action_name == 'index' %><div class="post-right"><i class="icon-comment"></i><%= link_to '', post_url(post, anchor: :disqus_thread) %></div><% end %>
  </div>
  <h2><%= link_to tr(post, :title), post, title: tr(post, :title) %></h2>
  <div class="highlight">
    <% if action_name == 'index' %>
      <p><%= tr(post, :summary) %></p>
    <% else %>
      <%= raw tr(post, :content) %>
    <% end %>
  </div>
  <%= link_to t('.read_more'), post, class: 'button_medium', title: tr(post, :title) if action_name == 'index' %>
<% end %>