<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1><%= t('.title') %></h1>
        <p class="lead"><%= t('.summary') %></p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <%= render 'sidebar' %>
      </aside>
      <div class="col-md-8">
        <%= render @posts %>
        <hr>
        <div class="text-center">
          <%= paginate @posts %>
        </div>
      </div><!-- End col-md-8-->
    </div>  <!-- End row-->
  </div><!-- End container -->
</section><!-- End main_content-->

<% content_for :append_body do %>
<%= render 'layouts/disqus_count' %>
<%= mathjax_script_tag *@posts.map{ |post| "post_#{post.id}" } %>
<% end %>
