
<%= render partial: 'banner' %>

<%= render partial: 'categories', locals: {tags: @query_tags} %>

<!-- Start Recent News -->
<div class="news-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <% @posts.each do |post| %>
          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing">
            <%= link_to post do %>
              <div class="news-wrap">
                <div class="cover col-sm-6 col-lg-6 col-md-6 no-padding" style="background: url('<%= path_to_image post.image.thumb %>'); background-size: cover; background-position: center center;">
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 light-grey-bg rl-padding-lg">
                  <div class="top-padding">
                    <small class="text-grey"><%= l post.publish_at, format: :short %></small>
                  </div>
                  <h3><%= post.title %></h3>
                  <div class="bottom-padding">
                    <p class="descri both-spacing-sm"><%= post.summary %></p>
                    <span class="text-grey small"><%= "#{t('.by')}#{post.author.try(:name)}" %></span>
                  </div>
                </div>
                <div class="more"><%= t('.more') %></div>
              </div>
            <% end %>
          </div>
        <% end %>

        <nav class="text-center">
          <%= paginate @posts %>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- End Recent News -->

