<%= sub_header title: t('.title') %>

<section id="main_content">
  <div class="container">
    <%= render 'breadcrumb' %>
    <div class="row">
      <aside class="col-md-4">
        <%= render 'sidebar' %>
      </aside>
      <div class="col-md-8">
        <%= render @posts %>
        <hr>
        <div class="text-center">
          <%= paginate @posts %>
        </div>
      </div><!-- End col-md-8-->
    </div>  <!-- End row-->
  </div><!-- End container -->
</section><!-- End main_content-->

<% content_for :append_body do %>
<%= render 'layouts/disqus_count' %>
<%= mathjax_script_tag *@posts.map{ |post| "post_#{post.id}" } %>
<% end %>
