<%= sub_header title: t('.title') %>

<section id="main_content">
  <div class="container">
    <% if @query_tags.present? %>
      <%= breadcrumb link_to(t('.title'), posts_path), @query_tags.map{|t| "##{t}"}.join(', ') %>
    <% else %>
      <%= breadcrumb t('.title') %>
    <% end %>
    <div class="row">

      <div class="col-md-8 col-md-push-4">
        <%= render @posts %>
        <hr>
        <div class="text-center">
          <%= paginate @posts %>
        </div>
      </div><!-- End col-md-8-->
      <aside class="col-md-4 col-md-pull-8">
        <%= render 'sidebar' %>
      </aside>
    </div>  <!-- End row-->
  </div><!-- End container -->
</section><!-- End main_content-->

<% content_for :append_body do %>
<%= render 'layouts/disqus_count' %>
<%= mathjax_script_tag *@posts.map{ |post| "post_#{post.id}" } %>
<% end %>
