
<%= render partial: 'banner' %>

<%= render partial: 'categories', locals: {tags: posts_cate_tags - posts_cate_tags_exclude(@post.tag_list) } %>

<!-- Start News Content -->
<div class="news-content bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-8 col-md-8 center-block">
        <%= image_tag(@post.image.thumb, class: 'bottom-spacing-sm') %>
        <h1><small class="text-black"><%= @post.title %></small></h1>
        <div class="text-grey">
          <%= "#{t('.by')}#{@post.author.try(:name)}" %>
          <small class="left-spacing-sm"><%= l @post.publish_at, format: :short %></small>
        </div>
        <div class="highlight top-spacing-sm">
          <%= render_post @post %>
        </div>
        <%= render 'shared/disqus' %>
        <%= link_to t('.back_to_index'), posts_path %>
      </div>
    </div>
  </div>
</div>
<!-- End News Content -->

<% content_for :append_body do %>
  <%= render 'shared/disqus_count' %>
  <%= mathjax_script_tag "post_#{@post.id}" %>
<% end %>

