<section id="main_content">
  <div class="container">
    <%= breadcrumb link_to(t('.title'), posts_path), tr(@post, :title) %>
    <div class="row">
      <div class="col-md-8 col-md-push-4">
        <%= render partial: '/posts/post', locals: {post: @post} %>
        <hr>
        <%= render 'layouts/disqus' %>
      </div>
      <aside class="col-md-4 col-md-pull-8">
        <%= render '/posts/sidebar' %>
      </aside>
    </div>
  </div>
</section>

<% content_for :append_body do %>
  <%= render 'layouts/disqus_count' %>
  <%= mathjax_script_tag "post_#{@post.id}" %>
  <%= render 'layouts/ruby_comment' %>
<% end %>
