<section id="main_content">
  <div class="container">
    <%= render 'breadcrumb' %>
    <div class="row">
      <aside class="col-md-4">
        <%= render 'sidebar' %>
      </aside>

      <div class="col-md-8">
        <%= render @post %>
        <hr>
        <%= render 'layouts/disqus' %>
      </div><!-- End col-md-8-->   


    </div>  <!-- End row-->
  </div><!-- End container -->
</section><!-- End main_content-->

<% content_for :append_body do %>
<%= render 'layouts/disqus_count' %>
<%= mathjax_script_tag "post_#{@post.id}" %>
<% end %>