<div class="camp-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="text-center top-spacing-lg bottom-spacing-sm"><span><%= @camp.title %></span></h3>
        <div class="text-center text-grey bottom-spacing">
          <i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('camps.course.location_label') %>
          <%= link_to "#{t('company.address')} (#{t('company.name')})", t('company.gmap_url'), target: :_blank %>
        </div>
        <% @activity_courses.each do |activity_course| %>
          <% course = activity_course.course %>

          <!--Start Camp-->
          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing border-grey no-padding">
            <div class="camp-wrap">
              <div class="cover col-sm-6 col-lg-6 col-md-6 no-padding" style="background: url('<%= course.image.thumb %>'); background-size: cover; background-position: center center;">
                <div class="filter">
                  <p class="text-center four-padding-lg top-spacing-lg">
                    <span class="descri"><%= raw tr(course, :summary) %></span>
                    <br><br>
                    <!-- change it to time_limit-->
                    <% btn_states = (course.time_limit || course.start_on) < Time.now ? configs['outdated'] : configs['opening'] %>
                    <%= link_to btn_states['text'], btn_states['href'], class: btn_states['class'] || "btn btn-white-border" if btn_states.present? %>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6 rl-padding-lg">
                <h4 class="top-padding text-center"><%= course.title %></h4>
                <div class="both-spacing-sm four-padding text-center light-grey-bg ul-no-padding li-no-style">
                  <%= t('camps.course.time_label') %>
                  <br>
                  <%= raw course.time_description %>
                </div>
                <div class="col-sm-5 col-lg-6 col-md-7">
                  <div class="media">
                    <% course.speakers.each do |s| %>
                      <div class="media-body">
                        <b class="media-heading"><%= tr s, :name %></b>
                        <p class="small"><%= tr_and_convert_newline2br s, :summary %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div id="will-learn" class="col-sm-7 col-lg-6 col-md-5 no-padding">
                  <b><%= t('camps.course.what_will_learn_label', hours: course.hours) %></b>
                  <div class="small text-overflow-auto-scroll">
                    <%= raw tr(course, :what_will_learn) %>
                  </div>
                  <div class="pull-right small vex-dialog-opener" data-target="#camp-outline-dialog-<%= course.permalink %>">
                    <a><%= t('camps.course.view_outline') %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Camp-->

          <!-- Start Dialog -->
          <div class="vex-dialog-content" id="camp-outline-dialog-<%= course.permalink %>" title="<%= course.title %>">
            <% course.stages.each_with_index do |stage, index| %>
              <div class="four-spacing">
                <h4><%= t('camps.course.chapter_title', nth: index) %> <%= tr stage, :title %></h4>
                <%= raw tr(stage, :description) %>
                <ul class="date-time bottom-spacing-lg">
                  <li><i class="fa fa-calendar text-grey" aria-hidden="true"></i> <%= stage.date %></li>
                  <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= time_range stage %></li>
                  <li><i class="fa fa-clock-o text-grey" aria-hidden="true"></i> <%= show_hours stage.hours %>h</li>
                </ul>
              </div>
            <% end %>
          </div>
          <!-- End Dialog -->
        <% end %>
      </div>
    </div>
  </div>
</div>
