<%= simple_form_for(@admin_video) do |f| %>

  <div class="form-inputs">
    <%= f.association :speakers, input_html: {class: 'select2'} %>
    <%= f.input :title %>
    <%= f.input :link %>
    <%= f.input :summary %>
    <%= f.input :description, input_html: {class: :redactor} %>
    <%= f.input :is_online %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
