<h1><%= Admin::Video.model_name.human %> <%= link_to t('crud.new'), new_admin_video_path, class: 'btn btn-lg btn-success' %></h1>

<%= paginate @admin_videos %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <%= th_for Admin::Video, :id, :title, :link, :summary, :description, :is_online %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_videos.each do |admin_video| %>
      <tr>
        <%= td_for admin_video, :id, :title, :link, :summary, :description, :is_online %>
        <%= td_action_for admin_video %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_videos %>