<%= simple_nested_form_for(@admin_course, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.association :category, input_html: {class: 'select2'} %>
    <%= f.input :image %>
    <%= f.input :remove_image, as: :boolean %>
    <%= f.input :title %>
    <%= f.input :permalink %>
    <%= f.input :subtitle %>
    <%= f.input :summary, hint: '最多 150 字，用在 meta tag 和 courses/index 頁面' %>
    <%= f.input :what_will_learn, input_html: {class: :redactor} %>
    <%= f.input :description, input_html: {class: :redactor} %>
    <%= f.input :note, input_html: {class: :redactor} %>
    <%= f.input :is_online %>
  </div>

  <%= render 'stages_fields', f: f %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
