<%= simple_nested_form_for(@admin_course, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :image %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :description %>
    <%= f.input :what_will_learn %>
  </div>

  <%= render 'stages_fields', f: f %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
