<%= simple_nested_form_for(@admin_course) do |f| %>
  <div class="form-inputs">
    <%= f.association :category, input_html: {class: 'select2'} %>
    <%= f.association :speakers, input_html: {class: 'select2'} %>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <% if @admin_course.image? %>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <%= image_tag(@admin_course.image.preview) %>
      </div>
    </div>
    <%= f.input :remove_image, as: :boolean %>
    <% end %>
    <%= f.input :title %>
    <%= f.input :permalink %>
    <%= f.input :iframe_html, as: :text, hint: "活動通或 KKTIX 之報名 iframe code" %>
    <%= f.input :subtitle %>
    <%= f.input :summary, hint: '最多 150 字，剩 <span id="summary_remain"></span> 個字，用在 meta tag 和 courses/index 頁面'.html_safe %>
    <%= f.input :what_will_learn, input_html: {class: :redactor}, hint: '請放 ul 清單' %>
    <%= f.input :suitable_for, input_html: {class: :redactor} %>
    <%= f.input :apply_link, hint: '沒有填寫 iframe 時才顯示' %>
    <%= f.input :maximum_attendees %>
    <%= f.input :total_attendees %>
    <%= f.input :minimum_attendees %>
    <%= f.input :time_description, input_html: { class: :redactor }, hint: "請放 ul 清單" %>
    <%= f.input :time_limit, as: :date_time_picker %>
  </div>

  <%= render 'stages_fields', f: f %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
