<div class="page-header"><h2><%= Stage.model_name.human %></h2></div>
<table id="stages" class="table">
  <thead>
    <tr>
      <th></th>
      <%= th_for Stage, :title, :date, :start_at, :end_at, :description %>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :stages, wrapper: false do |ff| %>
      <%= content_tag_for :tr, ff.object, nil, class: 'fields' do %>
        <td><%= ff.link_to_remove content_tag(:i, nil, class: 'glyphicon glyphicon-trash') %></td>
        <td><%= ff.input_field :title, class: 'form-control', label: false %></td>
        <td><%= ff.input_field :date, as: :string, class: 'form-control datetimepicker', label: false, data: {'date-pickTime' => false, 'date-format' => "YYYY-MM-DD"} %></td>
        <td><%= ff.input_field :start_at, as: :string, class: 'form-control datetimepicker', label: false, data: {'date-pickDate' => false, 'date-format' => 'HH:mm'} %></td>
        <td><%= ff.input_field :end_at, as: :string, class: 'form-control datetimepicker', label: false, data: {'date-pickDate' => false, 'date-format' => 'hh:mm'} %></td>
        <td class="col-sm-6"><%= ff.input_field :description, class: 'form-control redactor', label: false, rows: 5 %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= f.link_to_add content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), :stages, class: 'btn btn-xs btn-success', data: {target: '#stages'} %>
