<h1><%= Admin::Course.model_name.human %> <%= link_to t('crud.new'), new_admin_course_path, class: 'btn btn-lg btn-success' %></h1>

<%= paginate @admin_courses %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <%= th_for Admin::Course, :id, :is_online, :image, :title, :permalink, :subtitle, :category %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_courses.each do |admin_course| %>
      <tr>
        <%= td_for admin_course, :id, td_is_online(admin_course), :image, [:title, ->(c){ link_to c.title, c}], :permalink, :subtitle, [:category, :name] %>
        <td><%= link_to admin_icon_tag(:plus), new_admin_course_path(fork: admin_course), class: 'btn btn-success', title: '複製' %></td>
        <%= td_action_for admin_course %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_courses %>