<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_course, :id, :image, :title, :subtitle, :summary, :what_will_learn, :description %>
  </tbody>
</table>

<div class="page-header"><h2><%= Stage.model_name.human %></h2></div>

<table class="table">
  <thead>
    <%= th_for Stage, :sort_id, :title, :duration, :description, :schedules %>
  </thead>
  <tbody>
    <% @admin_course.stages.each_with_index do |stage, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= stage.title %></td>
        <td><%= stage.duration %></td>
        <td><%= stage.description %></td>
        <td class="col-sm-2">
          <ul>
            <% stage.schedules.each do |schedule| %>
            <li>
              <%= link_to [:admin, schedule] do %>
                <%= schedule.date %> <span class="badge"><%= schedule.applies.count %></span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_course_path(@admin_course), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_courses_path, class: 'btn btn-default btn-lg' %>
</div>