<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_course, :id, :is_online, [:category, :name], :image, :title, tr_speakers(@admin_course), :permalink, :subtitle, :summary, :what_will_learn, :description, :note, :apply_link, :maximum_attendees, :total_attendees, :minimum_attendees %>
  </tbody>
</table>

<div class="page-header"><h2><%= Stage.model_name.human %></h2></div>

<table class="table">
  <thead>
    <th>順序</th>
    <%= th_for Stage, :date, :start_at, :end_at, :hours, :title, :description %>
  </thead>
  <tbody>
    <% @admin_course.stages.each_with_index do |stage, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= l stage.date %></td>
        <td><%= l stage.start_at, format: '%H:%M' %></td>
        <td><%= l stage.end_at, format: '%H:%M' %></td>
        <td><%= '%.1f' % stage.hours %></td>
        <td><%= stage.title %></td>
        <td><%= stage.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_course_path(@admin_course), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_courses_path, class: 'btn btn-default btn-lg' %>
</div>