
<div class="feedback-section bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <h3 class="text-center both-spacing-lg"><span><%= t('.title') %></span></h3>
        <div id="feedback-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% (speakers.size / 3.0).ceil.times do |x| %>
              <li data-target="#feedback-carousel" data-slide-to="<%=x%>" class="<%=x == 0 ? :active : nil%>" ></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% speakers.each_slice(3).to_a.each_with_index do |three_speakers, idx| %>
              <div class="item <%= :active if idx == 0 %>">
                <% three_speakers.each do |s| %>
                  <div class="col-sm-4 col-lg-4 col-md-4 bottom-spacing">
                    <div class="speaker-wrap text-center">
                      <div class="speaker-img-wrap center-block top-spacing-sm bottom-spacing-sm">
                        <%= image_tag s.avatar.thumb, alt: s.name, class: 'speaker-img' %>
                        <% if s.blog_url.present? %>
                          <%= link_to s.blog_url, class: "filter", target: :_blank do %>
                            <span class="tag">BLOG</span>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="social-link">
                        <% if s.facebook_url.present? %>
                          <%= link_to s.facebook_url, target: :_blank do %>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if s.twitter_url.present? %>
                          <%= link_to s.twitter_url, target: :_blank do %>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if s.google_url.present? %>
                          <%= link_to s.google_url, target: :_blank do %>
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <p>
                      <small class="text-grey"><%= s.role_text %></small>
                      <br>
                      <strong><%= s.name %></strong>
                      </p>
                      <p>
                      <small><%= speaker_summary s %></small>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
