
<div class="feedback-section bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <h3 class="text-center both-spacing-lg"><span><%= t('.title') %></span></h3>
        <div id="feedback-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% (speakers.size / 3.0).ceil.times do |x| %>
              <li data-target="#feedback-carousel" data-slide-to="<%=x%>" class="<%=x == 0 ? :active : nil%>" ></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% speakers.each_slice(3).to_a.each_with_index do |three_speakers, idx| %>
              <div class="item <%= :active if idx == 0 %>">
                <% three_speakers.each do |s| %>
                  <%= render partial: 'shared/member', locals: {
                    type: 'speaker',
                    avatar: s.avatar.thumb,
                    name: s.name,
                    blog_url: s.blog_url,
                    facebook_url: s.facebook_url,
                    twitter_url: s.twitter_url,
                    google_url: s.google_url,
                    github_url: nil,
                    website_url: nil,
                    role_text: s.role_text,
                    summary: speaker_summary(s)
                  } %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
