<!-- Start Footer -->
<footer class="light-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-4 col-md-4">
        <p>
          <%= link_to press_path do %>
            <%= image_tag 'press-img.png', class: 'press-img', title: t('.media') %>
          <% end %>
        </p>
      </div>
      <div class="col-sm-9 col-lg-8 col-md-8 bottom-spacing-sm">
        <h5><%= link_to t('.about_5xruby'), about_path %></h5>
        <h5><%= link_to t('.press'), press_path %></h5>
        <h5><%= link_to t('.members'), members_path %></h5>
        <h5><%= link_to t('.contact'), contacts_path %></h5>
        <h5><%= link_to t('.faq'), faq_path %></h5>
        <h5><%= link_to t('.recruit'), posts_path(tags: '徵才') %></h5>
        <h5><%= link_to t('.source_code'), "https://github.com/5xRuby/5xruby.tw", target: :_blank %></h5>
      </div>
      <div class="col-sm-3 col-lg-3 col-md-3">
        <strong class="large text-red"><%= t('company.contact_phone') %></strong>
        <br><small><%= t('company.open_hours') %></small>
        <br><a href="<%= t('company.facebook') %>" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="<%= t('company.twitter') %>" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="<%= t('company.github') %>" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-5 col-lg-5 col-md-5">
        <div class="mail-address">
          <%= t('.any_question') %> <a href="mailto:<%= t('company.email') %>"><%= t('company.email') %></a>
          <br>
          <%= t('.address_label') %> <a target="_blank" href="<%= t('company.gmap_url') %>"><%=t 'company.address'%></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-sm-12 col-lg-12 col-md-12 top-spacing">
        <%= t('company.name_full') %>
      </div>
      <div class="text-center col-sm-12 col-lg-12 col-md-12">
        <%= t('company.register') %>
      </div>
    </div>
  </div>
  <div class="to-top text-center">
    <a href="#" class="scrollup large">
      <i class="large fa fa-angle-up" aria-hidden="true"></i>
    </a>
  </div>
</footer>
<!-- End Footer -->
