<!-- Start Header -->
<header class="clearfix">

  <!-- Start  Logo & Naviagtion  -->
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_path, class: 'navbar-brand logo-link' do %>
            <%= image_tag 'logo', alt: t('company.name') %>
          <% end %>
        </div>
        <div class="clear"></div>
        <div id="navbar" class="navbar-collapse collapse">
          <div id="lang-sign-in">
            <ul class="nav navbar-nav">
              <%= locale_li '中文', :'zh-TW' %>
              <%= locale_li 'English', :en %>
              <%= locale_li '日本語', :ja %>
              <li><a href="login.html"><span><%= t('layouts.nav.login') %></span></a></li>
            </ul>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="<%= courses_path %>"><span><%= t('layouts.nav.course') %></span></a></li>
            <li><a href="#"><span><%= t('layouts.nav.outsourcing') %></span></a></li>
            <li><a href="#"><span><%= t('layouts.nav.training') %></span></a></li>
            <li><a href="#"><span><%= t('layouts.nav.space_rental') %></span></a></li>
            <li><a href="<%= posts_path %>"><span><%= t('layouts.nav.news') %></span></a></li>
            <li><a href="<%= contacts_path %>"><span><%= t('layouts.nav.contact') %></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
  </div>
  <!-- End Header Logo & Naviagtion -->
</header>
<!-- End Header -->
