<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="mobnav-btn"></div>
        <ul class="sf-menu">
          <%= nav_li t('.home'), root_path, method: :eql? %>
          <%= nav_li t('.course'), courses_path %>
          <%= nav_li t('.videos'), videos_path %>
          <%= nav_li t('.speakers'), speakers_path %>
          <%= nav_li t('.blog'), posts_path %>
          <%= nav_li t('.faq'), faq_path %>
          <%= nav_li t('.about'), about_path %>
          <%= nav_li t('.contacts'), contacts_path %>
          <li><a href="/events/space/" target="_blank"><%= t('.space') %></a></li>
          <li><%= link_to '中文', root_path(locale: nil) if I18n.locale == :en %></li>
          <li><%= link_to 'EN', root_path(locale: :en) if I18n.locale == :'zh-TW' %></li>
        </ul>

        <div class="hide col-md-4 pull-right hidden-sm hidden-xs">
          <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
        </div><!-- End search -->
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</nav>
