<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="mobnav-btn"></div>
        <ul class="sf-menu">
          <%= nav_dropdown t('.about') do %>
            <%= nav_li t('.us'), about_path %>
            <%= nav_li t('.speakers'), speakers_path %>
            <%= nav_li t('.showcases'), showcases_path %>
            <%= nav_li t('.faq'), faq_path %>
          <% end %>
          <%= nav_li t('.course'), courses_path %>
          <%= nav_dropdown t('.space') do %>
            <%= nav_li t('.rental'), '/events/space/', target: :_blank %>
          <% end %>
          <%= nav_dropdown t('.resources') do %>
            <%= nav_li t('.interview_questions'), interview_questions_path %>
            <%= nav_li t('.videos'), videos_path %>
          <% end %>
          <%= nav_li t('.contacts'), contacts_path %>
          <%= nav_li t('.blog'), posts_path %>

          <%= locale_li '中文', :'zh-TW' %>
          <%= locale_li 'English', :en %>
        </ul>

        <div class="hide col-md-4 pull-right hidden-sm hidden-xs">
          <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
        </div><!-- End search -->
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</nav>
