<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="mobnav-btn"></div>
        <ul class="sf-menu">
          <li><%= link_to t('.home'), root_path %></li>
          <li><%= link_to t('.course'), courses_path %></li>
          <li><%= link_to t('.blog'), posts_path %></li>
          <li><%= link_to t('.contacts'), contacts_path %></li>
          <li><%= link_to t('.about'), about_path %></li>
        </ul>

        <div class="hide col-md-4 pull-right hidden-sm hidden-xs">
          <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
        </div><!-- End search -->
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</nav>