<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class='col-md-offset-2 col-md-8 text-center'>
        <h2>What they say</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <% (t('testimonials').size).times do |x| %>
              <li data-target="#quote-carousel" data-slide-to="<%=x%>" class="<%=x == 0 ? :active : nil%>" ></li>
            <% end %>
          </ol>
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">
            <!-- Quote start -->
            <% t('testimonials').each_with_index do |tm, idx| %>
              <div class="item <%= :active if idx == 0 %>">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <%= image_tag "/img/#{tm[:img]}", class: 'img-circle', alt: tm[:name] %>
                    </div>
                    <div class="col-sm-9">
                      <p><%= tm[:content] %></p>
                      <small><%= tm[:title] %></small>
                    </div>
                  </div>
                </blockquote>
              </div>
            <%end%>
            <!-- Quote end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
