<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<%= content_tag :html, **html_tag_attributes do %>
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= t('company.name') %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= seo_meta_tags %>
    <!-- FB Insights -->
    <meta property="fb:app_id" content="511040962329986" />

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- RSS -->
    <%= auto_discovery_link_tag :rss, posts_path(format: :rss), title: '五倍紅寶石部落格' %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= yield :append_head if content_for? :append_head %>
		<%= render partial: "shared/fb_pixel_init"%>
    <%= render partial: 'tappay/tappay_sdk' %>
  </head>
  <%= content_tag :body, data: {controller: controller_path, action: action_name} do %>

    <div class="index-container">
      <div id="container">
        <%= render 'layouts/nav' %>
        <%= notice_message %>

        <%= yield %>

        <%= render 'layouts/footer' %>
      </div>
    </div>

    <%=render partial: "shared/ga"%>
    <%=render partial: "shared/tenmax"%>
    <%= yield :append_body if content_for? :append_body %>

  <% end %><!-- body -->
<% end %><!-- html -->
