<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= t('company.name') %></title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/superfish.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fontello/css/fontello.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= yield :append_head if content_for? :append_head %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    <%= notice_message %>
    <%= yield %>

    <%= render 'layouts/footer' %>

    <div id="toTop"><%= t('.back_to_top') %></div>

    <!-- OTHER JS --> 
    <script src="/js/superfish.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/assets/validate.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/uisearch.js"></script>
    <script>new UISearch( document.getElementById( 'sb-search' ) );</script>
    <%= yield :append_body if content_for? :append_body %>
  </body>
</html>